@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Delius+Swash+Caps&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    --primary-bg: #3a1a1f;
    --dark-brown: #154e36;
    --medium-brown: rgb(122, 57, 22);
    --light-yellow: rgb(225, 173, 61);
    --dark-yellow: rgb(138, 103, 35);
    --light-brown: rgb(132, 46, 32);
    --white: #fff;
    ---dark: #000;
}

body {
  background-color: black;
  font-family: "DM Serif Display", serif;
  background-image: url('/assets/main_bg.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat-y;
  font-weight: 400;
  font-style: normal;
}
.navbar {
    border-bottom: 1px solid var(--dark-brown);
}

/* styles/globals.css */
.infinite-photo-grid {
    background-image: url("/assets/grid-hero-image.png");
    background-size: cover;
    background-repeat: repeat-x;
    animation: scroll 70s linear infinite;
    will-change: background-position;
}

@keyframes scroll {
    from {
        background-position: left calc(4.84 * min(100vh, 750px)) top 0;
    }
    to {
        background-position: left 0 top 0;
    }
}


/* Custom Pulse Animation */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  80% {
    box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}

/* Apply Pulse animation to WhatsApp button */
.animate-pulse {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
